AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

TARGET_PHONE_NUMBER=+15555555555
# senderID for SMS Service
# Must be 1-11 alpha-numeric characters
SMS_FROM=
# SMS delivery service type, should be one of these two:
# 'Promotional' or 'Transactional'
AWS_SNS_SMS_TYPE=Promotional
